

.mat-dialog-actions {
    justify-content: center;
    padding-bottom: 2em;
}

.mat-dialog-title {
    text-align: center;
    margin: 0;
}

.mat-dialog-content{
    margin: 1em 0;
    text-align: center;
}

.mat-raised-button{
    min-width: 8em;
}

.mat-radio-button {
    margin-top: 1em;
    width: 100%;
    text-align: left;
}

.mat-radio-label-content {
    color: #1e1e1e !important;
    white-space: normal !important;
}